<div class="energy">
    <div fxLayout fxLayoutAlign="center">
        <h2 class="mat-h2">Batch Status</h2>
    </div>

    <div>
        <report-form type="batch_status" (select)="onSelect($event)"></report-form>
    </div>

    <div fxLayout fxLayoutAlign="center" *ngIf="loadedspinner">
        <app-spinner></app-spinner>
    </div>

    <error *ngIf="errMessage" [message]="errMessage" [hidden]="Errormsg"></error>

    <section [hidden]="loaded">
        <div style="display: block;">
            <mat-table [dataSource]="dataSource">

                <ng-container *ngFor="let disCol of displayedColumns; let colIndex = index" matColumnDef="{{disCol}}">
                    <mat-header-cell *matHeaderCellDef>{{disCol}}</mat-header-cell>

                    <mat-cell *matCellDef="let element "> {{element[disCol]}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>

    </section>
</div>