<h2 mat-dialog-title class="titleHead">Password Policy</h2>
<form [formGroup]="policyForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <!-- <mat-tab-group> -->
    <!-- <mat-tab label="Password"> -->
    <div class="user" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="20px">
      <div fxFlex="50%" fxFlex.gt-sm="100%">
        <mat-form-field>
          <input matInput type="number" formControlName="capital_letters" placeholder="Capital Letters">
          <mat-error *ngIf="policyForm.get('capital_letters').hasError('required')">
            Capital Letters are
            <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="policyForm.get('capital_letters').hasError('min')">
            Please enter the positive number
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="50%" fxFlex.gt-sm="100%">
        <mat-form-field>
          <input matInput type="number" formControlName="numeric_letters" placeholder="Numeric Character">
          <mat-error *ngIf="policyForm.get('numeric_letters').hasError('required')">
             Numeric Character are
            <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="policyForm.get('numeric_letters').hasError('min')">
            Please enter the positive number
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="user" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="20px">
      <div fxFlex="50%" fxFlex.gt-sm="100%">
        <mat-form-field>
          <input matInput type="number" formControlName="special_characters" placeholder="Special Character">
          <mat-error *ngIf="policyForm.get('special_characters').hasError('required')">
            Special Character are
            <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="policyForm.get('special_characters').hasError('min')">
            Please enter the positive number
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="50%" fxFlex.gt-sm="100%">
        <mat-form-field>
          <input matInput type="number" formControlName="password_count" placeholder="Passwords to be remembered">
          <mat-error *ngIf="policyForm.get('password_count').hasError('required')">
            Passwords to be remembered is
            <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="policyForm.get('password_count').hasError('min')">
            Please enter the positive number
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="user" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="20px">
      <div fxFlex="50%" fxFlex.gt-sm="100%">
        <mat-form-field>
          <input matInput type="number" formControlName="length" placeholder="Password Length">
          <mat-error *ngIf="policyForm.get('length').hasError('required')">
            Password Length is
            <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="policyForm.get('length').hasError('min')">
            Min password length is 8
          </mat-error>
        </mat-form-field>
      </div>

    </div> 
    <!-- </mat-tab> -->
    <!-- </mat-tab-group> -->
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" [disabled]="!policyForm.valid || loading">{{dialog.btnCaptions.ok}}</button>
    <button [disabled]="loading" mat-button mat-dialog-close>Cancel</button>
    <app-spinner *ngIf="loading"></app-spinner>
  </mat-dialog-actions>
</form>