<h2 mat-dialog-title>{{dialog.title}} Plant</h2>
<form *ngIf="dialog.mode !== 'delete'; else deleteForm" [formGroup]="plant" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <mat-tab-group>
            <mat-tab label="Plant Details">
                <div [ngStyle]="{'padding-top':'10px'}">
                    <div fxLayout fxLayout.xs="column" fxLayoutAlign="center center">
                        <div fxFlex="100%" fxLayoutGap="30px">
                            <mat-form-field>
                                <input matInput placeholder="Plant Name" formControlName="name">
                                <mat-error *ngIf="plant.get('name').hasError('required')">
                                    Plant name is
                                    <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                            <span [hidden]="hide">
                                <mat-form-field>
                                    <mat-select placeholder="Associated Plant" formControlName="assosiativeName">
                                        <mat-option *ngFor="let m of associtivePlant" [value]="m.associated_name">
                                            {{m.associated_name}}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="plant.get('assosiativeName').hasError('required')">
                                        Associated plant is
                                        <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </span>

                            <span>
                                <mat-form-field>
                                    <mat-select [disabled]="isTypeDisabled" placeholder="Type" formControlName="type"
                                        (selectionChange)="onTypeChange($event)">
                                        <mat-option *ngFor="let option of machineTypes" [value]="option.machine_type">
                                            {{ option.name }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="plant.get('type').hasError('required')">
                                        Machine type is
                                        <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </span>
                            <mat-form-field>
                                <input matInput placeholder="Sequence Number" formControlName="sequenceNumber">
                                <mat-error *ngIf="plant.get('sequenceNumber').hasError('required')">
                                    Sequence no. is
                                    <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf="plant.get('sequenceNumber').hasError('pattern')">
                                    Enter valid
                                    <strong>sequence number</strong>
                                </mat-error>
                                <mat-error *ngIf="plant.get('sequenceNumber').hasError('min')">
                                    Enter
                                    <strong>greater than 0</strong>
                                </mat-error>
                            </mat-form-field>

                            <mat-checkbox [disabled]="disabledDataAvailable" (change)="onChange($event,'dataAvailable')"
                                formControlName="dataAvailable">Data Available</mat-checkbox>
                            <mat-checkbox *ngIf="isDataAvailable" [disabled]="disabledAlarm"
                                (change)="onChange($event,'alarm')" formControlName="alarm">Alarm Table</mat-checkbox>

                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab *ngIf="isDataAvailable" label="CBM parameters" [ngStyle]="{'padding-top':'10px'}">
                <div *ngIf="hiddencol" [ngStyle]="{'padding':'10px'}">
                    <div fxLayout fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="25px">
                        <div fxFlex="100%">
                            <mat-form-field>
                                <input matInput placeholder="PPM" formControlName="ppm">
                                <mat-error *ngIf="plant.get('ppm').hasError('pattern')">
                                    Enter valid
                                    <strong>PPM number</strong>
                                </mat-error>
                                <mat-error *ngIf="plant.get('ppm').hasError('min')">
                                    PPM
                                    <strong>must be greater than 0</strong>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput type="number" min="1" max="60" placeholder="Maintenance (hrs)"
                                    formControlName="maintenance">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab *ngIf="isDataAvailable" #tab [disabled]="invalid" label="Assig  Group"
                [ngStyle]="{'padding-top':'10px'}">
                <div [ngStyle]="{'padding':'10px'}">
                    <div fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="25px">
                        <div fxFlex="50%" fxFlex.gt-sm="100%">
                            Parameter Groups
                            <div class="textArea">
                                <div class="space"></div>
                                <div class="checkbox" *ngFor="let list of groups">
                                    <label class="container">
                                        <input type="checkbox" formControlName="pgIds" [checked]="list.selected"
                                            [value]="list.id"
                                            (change)="onCheckboxChange(list.id,$event)">{{list.pg_name}}
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <mat-error *ngIf="plant.get('pgIds').hasError('incorrect')">
                                Please Check Import Parameters
                            </mat-error>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button color="primary"
            [disabled]="!plant.valid || loading">{{dialog.btnCaptions.ok}}</button>
        <button [disabled]="loading" mat-button mat-dialog-close>Cancel</button>
        <app-spinner *ngIf="loading"></app-spinner>
    </mat-dialog-actions>
</form>


<ng-template #deleteForm>
    <mat-dialog-content>
        Do you want to delete
        <strong>{{dialog.details.plantName}}</strong>?
    </mat-dialog-content>
    <mat-dialog-actions [style.marginTop.px]="10">
        <button mat-raised-button [disabled]="loading" (click)="update(dialog.details,dialog.mode)"
            [ngStyle]="{backgroundColor:'#FE3F5F',color:'#FFF'}">{{dialog.btnCaptions.ok}}</button>
        <button mat-button mat-dialog-close>Cancel</button>
        <app-spinner *ngIf="loading"></app-spinner>
    </mat-dialog-actions>
</ng-template>